<header>
  <div class="bg-danger py-5">
    <h1 class="text-white px-2">Productos Angular</h1>
  </div>
  <app-navbar></app-navbar>
</header>

<div class="container bg-light mt-5 p-5">
  <div class="row">
    <div class="col-12">
        <div>
          <h1>Webapp de productos con Angular</h1>
          <p>Gestiona tus productos con la aplicación web SPA creada con Angular</p>
        </div>
    </div>
  </div>
  <button class="btn btn-primary" type="button">Ver productos</button>
  <button class="btn btn-success" type="button">Añadir productos</button>
</div>
<router-outlet></router-outlet>